$beige: #f2d399;
$dark-brown: #713e22;
$brown: #9e6849;
$light: #b98459;
$tone: #a78a6c;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin grid($columns) {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
}

button:hover {
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

// =========

// header
header {
	// @include flexCenter(row);
	// justify-content: space-between;
	@include grid(3);
	padding: 1rem 2rem;
	background-color: $beige;

	h1 {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: $dark-brown;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
	}
}

form {
	border: 1px solid black;
	padding: 0.5rem;
	border-radius: 20px;
	justify-self: center;
	width: 340px;
	@include flexCenter(row);
	gap: 0.5rem;
	position: relative;

	input {
		width: 300px;
		background-color: transparent;
		border: none;
		font-size: 15px;
		margin-right: 5px;
		outline: none;
		padding: 0;
	}

	i {
		margin-left: 5px;
		margin-right: 5px;
	}
}

nav {
	justify-self: flex-end;
	@include flexCenter(row);
	gap: 1rem;
	position: relative;

	i {
		font-size: 22px;
		cursor: pointer;
		border: none;
		padding: 0.5rem;

		&:hover {
			background-color: rgb(227, 227, 227, 0.5);
			border-radius: 50%;
		}

		&:last-of-type {
			padding: 0.5rem 0.6rem;
		}
	}

	.line {
		width: 1px;
		height: 35px;
		background-color: white;
		// border: 2px solid red;
	}

	&::after {
		content: attr(data-content);
		position: absolute;
		bottom: -1rem;
		font-size: 14px;
	}
}

// main

main {
	@include flexCenter(column);
	width: 100%;
	height: 100%;
}

// single quote

.single {
	@include flexCenter(row);
	background-color: $light;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.inner {
	margin: 2rem;
	border: 2px solid #fff;
	padding: 2rem;
	position: relative;
	width: 450px;
	text-align: center;

	p {
		margin-bottom: 1rem;
		font-size: 25px;
		font-family: serif;
	}

	h4 {
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	h3 {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 5px;
		bottom: -9px;
		right: 0;
		left: 0;
		margin: auto;
		font-size: 20px;
		color: #fff;
		background-color: $light;
		padding: 0 2rem 0 2.3rem;
		margin-top: 1rem;
		max-width: fit-content;
	}
}

// anime

.anime-container {
	background-color: $brown;
	color: #fff;
	font-size: 20px;
	letter-spacing: 4px;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	@include flexCenter(row);
	text-transform: uppercase;
	font-family: "Comic Sans MS", "Comic Sans", cursive;

	&:hover {
		cursor: pointer;
		background-color: $light;
	}

	p {
		padding: 0.25rem;
	}
}

// search

.search-results {
	position: absolute;
	top: 2.15rem;
	background-color: #fff;
	width: 350px;
	box-shadow: 1px 1px 4px;
	border-radius: 20px;
	z-index: 10;

	p {
		border-bottom: 1px solid #c3c3c3;
		padding: 0.75rem;

		&:hover {
			background-color: #e3e3e3;
			cursor: pointer;
		}

		&:first-of-type {
			border-radius: 20px 20px 0 0;
		}

		&:last-of-type {
			border-radius: 0 0 20px 20px;
		}
	}
}

// for js

.anime-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem 0;
}
